.donut-charts {
    display: flex;
    flex-direction: column;
    
    &-colour-mode {
        background-color: var(--colour-white);
        
        &--dark {
            background-color: var(--colour-black);
        }
    }
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;
        padding: 3rem;
    }
}