.interests {
  grid-area: interests;

  &__color-mode {
    &--dark {
      .scroller__content {
        color: var(--colour-white);
        background-color: var(--colour-brown);
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem -0.125rem var(--colour-light-black);
      }
    }

    &--light {
      .scroller__content {
        color: var(--colour-brown);
        background-color: var(--colour-light-blue);
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem -0.125rem #000;
      }
    }
  }
}

/* Scroller CSS */
.scroller[data-animated="true"] {
  overflow: hidden;
}
.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

.scroller__container {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.scroller__content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
