@import "../../assets/scss/index.scss";

.herobanner {
    &__container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        padding: 1rem;
        min-height: 85vh;
        z-index: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        background-color: transparent;

        &::before {
            display: block;
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 87.5%;
            transform: skewY(6deg);
        }

        @include large {
            justify-content: center;
            padding: 4rem 1rem 1rem 1rem;
        }

        &-colour-mode {
            &--dark {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: var(--colour-light-grey);
                }

                &::before {
                    background-color: var(--colour-black);
                }

                .herobanner {
                    &__cta {
                        &--primary {
                            background-color: var(--colour-black);
                        }

                        &--secondary {
                            border-color: var(--colour-light-grey);

                            a {
                                color: var(--colour-light-grey);
                            }

                            &:hover,
                            &:focus {
                                a {
                                    color: var(--colour-light-green);
                                }
                            }
                        }
                    }
                }
            }

            &--light {
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: var(--colour-brown);
                }

                &::before {
                    background-color: var(--colour-white);
                }
            }

        }

        .herobanner__container--content {
            display: flex;
        }

        &--content {
            align-content: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;
        }
    }

    &__cta {
        &--primary {
            background-color: var(--colour-brown);
            a {
                color: var(--colour-light-grey);
            }

            &:hover,
            &:focus {
                background-color: var(--colour-green);

                a {
                    color: var(--colour-dark-green);
                }
            }
        }

        &--secondary {
            border-color: var(--colour-brown);

            a {
                color: var(--colour-brown);
            }

            &:hover,
            &:focus {
                border-color: var(--colour-green);

                a {
                    color: var(--colour-dark-green);
                }
            }
        }
    }
}
