/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Google Open Sans Font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Site Colour Palette */
/*
	turquoise	= #98d3d4
	light blue 	= #b0d7de
	grey		= #edecf2
	light brown	= #a89898
	brown		= #604c45
 */

/* links */
a {
	text-decoration: none;
	color: #C0C0C0;
}

a:hover, a:focus {
	text-decoration: none;
	color: #000;
}

/* Sticky Footer */
/* The Flex approach, thanks css-tricks.com. saving me yet again!*/
/*html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}*/

.Site {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.Site-header,
.Site-footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.Site-content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

/* Logo */
#logo {
	display: inline-block;
	font-weight: bold;
	margin: 1em;
}

.start {
	color: #604c45;
}

.end {
	color: #98d3d4;
}

/* h tags */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 1em 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

/*nav {
	background-color: transparent;
	text-align: center;
}

nav ul > li {
	display: inline-flex;
	padding: 1em;
	background-color: transparent;
}*/

/*nav ul > li:not(:last-child):after {
	content: "|";
	padding: 0 0.5em;
}*/

/* sections */
section {
	width: auto;
	margin: 1.5em;
	padding: 1em;
}
section#hero {
	background-color: #b0d7de;
}

section.flat {
	margin: 0 auto;
	padding: 1.5em;
}

footer {
	background-color: #604c45;
	border-top: 1px solid #000;
	min-height: 1.5em;
	text-align: center;
	padding: 1em;
}

.shadow {
	box-shadow: 0 1px 5px 2px rgba(0,0,0,.15);
}

.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

hr {
	margin: 1em;
}

.width25 {
	width: 25%;
}