.headroom {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,.15);
    
    &-wrapper {
        width: 100%;
        z-index: 1000;
    }
    
    &--color-mode {
        &-light {
            .headroom {
                background-color: var(--colour-grey);
            }
        }

        &-dark {
            .headroom {
                background-color: var(--colour-brown);
            }
        }
    }
}