/* Header */
header {
	width: 100%;
	display: flex;
	position: fixed;
	background-color: #edecf2;
	box-shadow: 0 1px 5px 2px rgba(0,0,0,.15);
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}