@use 'sass:color';

/* Site Colour Palette */
:root {
  --colour-turquoise: #98d3d4;
  --colour-light-blue: #b0d7de;
  --colour-grey: #edecf2;
  --colour-light-grey: #c0c0c0;
  --colour-dark-grey: #a9a9a9;
  --colour-light-brown: #a89898;
  --colour-brown: #604c45;
  --colour-light-black: #444443;
  --colour-black: #000;
  --colour-red: #b94a48;
  --colour-light-red: #8b3635;
  --colour-green: #1cb841;
  --colour-dark-green: #009019;
}