.comingsoon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    &-colour-mode {
        &--dark {
            background-color: var(--colour-black);
        }
    }
}